.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}
/* #030E4F; */
body {
  background-color:  #213970;

  ;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color:#F49F1C;
  
}

p {
  font-size: 2rem;
  color:#F49F1C;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color :#F49F1C;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
